*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 16px;
}

html{
    font-size: 62.5%;

    @include respond(lg-desktop){
        font-size: 62.5%;
    }
    @include respond(lg-tab){
        font-size: 52.5%;
    }
    @include respond(lg-phone){
        font-size: 42.5%;
    }
    @include respond(sm-phone){
        font-size: 32.5%;
    }
}

body{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}